<!-- https://material.angular.io/components/card/examples -->
<!-- https://material.io/resources/icons/?style=baseline -->
<!-- <div mat-card-avatar class="header-image"></div> -->
<!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
<!-- <img
  mat-card-image
  src="https://material.angular.io/assets/img/examples/shiba2.jpg"
  alt="Photo of a Shiba Inu"
/> -->

<mat-card>
  <mat-card-header>
    <mat-card-title>{{ post.title }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      {{ post.body }}
    </p>
  </mat-card-content>

  <mat-card-actions align="end">
    <button mat-button color="accent" (click)="likePost()" *ngIf="post.likes">
      <mat-icon>favorite_border</mat-icon> LIKE
    </button>
    <button mat-button color="accent" (click)="unlikePost()" *ngIf="!post.likes">
      <mat-icon>favorite</mat-icon> UN-LIKE
    </button>
    <button mat-button><mat-icon>share</mat-icon>SHARE</button>
    <button mat-button (click)="createComment()">
      <mat-icon>comment</mat-icon> Comment
    </button>

    <ng-container *ngIf="mode == 'readmore'">
      <button mat-button [routerLink]="['post', post.id]">Read more</button>
    </ng-container>
  </mat-card-actions>

  <ng-content></ng-content>
</mat-card>
