<music-apps-search-form
  class="d-block mx-3 mb-3"
  [query]="query$ | async"
  (search)="search($event)"
>
</music-apps-search-form>

{{ message }}

<button (click)="hide = !hide">togle</button>
<ng-container *ngIf="hide">
  <ng-container *ngIf="results$ | async as results">
    <p>Found {{ results?.length }} results</p>

    <music-apps-search-results [results]="results" class="d-block mx-3">
    </music-apps-search-results>
  </ng-container>
</ng-container>

<button (click)="connect()">Connect</button>
