<p>blog-posts works!</p>

<!-- <pre>{{posts | json }}</pre> -->

<div *ngIf="posts as results; else notPostsMessage; ">


  <!-- <ng-template ngFor [ngForOf]="results" let-post="$implicit" > -->

    <div *ngFor="let post of results; index as i">
      {{i+1}}. {{post.title}}
    </div>

    <music-apps-blog-post></music-apps-blog-post>
  <!-- </ng-template> -->

</div>

<ng-template #notPostsMessage>
  <p>No posts</p>
</ng-template>

<!-- ngIf let posts
  ngIf let comments
    ngIf let likes
  {{posts}} {{comments}} {{likes}} -->
